USE [PK]
GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITEMS](
	[ITEMS_ID] [int] NOT NULL,
	[CHAPTER_ID] [int] NOT NULL,
	[CHAPTER_SUB_ITEM_ID] [int] NOT NULL,
	[ITEMS_NAME] [varchar](500) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_ZXLB]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_ZXLB](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_XHXT]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_XHXT](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_TJB]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_TJB](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_SJXT]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_SJXT](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_RZZ]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_RZZ](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_RXNX]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_RXNX](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_PF]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_PF](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_NFM]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_NFM](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_MNNX]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_MNNX](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE_F]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGE_F](
	[IMAGE_ID] [int] NOT NULL,
	[CHAPTER_SUB_IMTE_ID] [int] NOT NULL,
	[IMAGE] [varbinary](max) NOT NULL,
	[IMAGE_EXPLAIN] [varchar](max) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_ZXLB]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_ZXLB](
	[CONTENT_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_XHXT]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_XHXT](
	[CONTENT_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_TJB]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_TJB](
	[CONTENT_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_SJXT]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_SJXT](
	[CONTENT_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_RZZ]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_RZZ](
	[CONTENT_ID] [int] NOT NULL,
	[IMTE_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_RXNX]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_RXNX](
	[CONTENT_ID] [int] NOT NULL,
	[IMTE_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_PF]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_PF](
	[CONTENT_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_NFM]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_NFM](
	[CONTENT_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_MNNX]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_MNNX](
	[CONTENT_ID] [int] NOT NULL,
	[IMTE_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT_F]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT_F](
	[CONTENT_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[DETAIL_CONTENT] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHAPTERS]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHAPTERS](
	[CHAPTER_ID] [int] NOT NULL,
	[BOOK_ID] [int] NOT NULL,
	[CHAPTER_NAME] [varchar](500) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL,
 CONSTRAINT [PK_CHAPTERS] PRIMARY KEY CLUSTERED 
(
	[CHAPTER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHAPTER_SUB_ITEMS]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHAPTER_SUB_ITEMS](
	[CHAPTER_SUB_ITEM_ID] [int] NOT NULL,
	[CHAPTER_ID] [int] NOT NULL,
	[CHAPTER_SUB_ITEM_NAME] [varchar](500) NOT NULL,
	[FLAG_CHAPTER] [bit] NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 12/12/2016 14:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOOKS](
	[BOOK_ID] [int] NOT NULL,
	[BOOK_CODE] [varchar](500) NOT NULL,
	[BOOK_NAME] [varchar](500) NOT NULL,
	[FLAG_INVALID] [bit] NOT NULL,
 CONSTRAINT [PK_BOOKS] PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
